body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #915700;
    color: white;
}

.header h1 {
    margin: 0;
    flex: 1;
}

.header .menu-btn, .header .back-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.actions a{
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 50px;
    border-radius: 10px;
    background-color: #915700;
}

.actions a:hover{
    background-color: #ddd;
    color: #3a2300;
}

.auth-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.auth-links p {
    margin: 0;
    padding: 0 10px;
}

.auth-links a {
    color: #915700;
    text-decoration: none;
    margin: 0 5px;
}

.auth-links a:hover {
    text-decoration: underline;
}

.main-drink {
    margin: 20px 0;
    text-align: center;
}

.main-drink img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-menu, .right-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
}

.right-menu {
    right: 0;
    transform: translateX(100%); /* Hide right menu by default */
}

.left-menu {
    left: 0;
}

.left-menu.active {
    transform: translateX(0); /* Show left menu when active */
}

.right-menu.active {
    transform: translateX(0); /* Show right menu when active */
}

.close-btn {
    background-color: #915700;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

h3 {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #915700;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover{
    background-color: #3a2300;
    color: #ffffff;
}

.drink-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.drink-item:hover {
    background-color: #f7f7f7;
}

.drink-info h3 {
    margin: 0;
}

.select-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.select-btn:hover {
    background-color: #0056b3;
}
